:host {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app {
  &__header {
    display: flex;
    align-items: center;
    height: 44px;
    background-color: #2d2d2d;
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  &__content {
    position: relative;
    flex: 1;
  }
}

.example-container {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  // border: 1px solid red;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  overflow: auto;
}
.dashboard-header{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
}